<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label for="hashtagForm">Input your hashtag</label>
      <input type="text" id="hashtagForm" class="form-control" [(ngModel)]="hashtag">
      <p>{{ hashtag }}</p>
      <button class="btn btn-primary" [disabled]="isStreaming() || isHashtagEmpty()" (click)="startStreaming()">Start streaming</button>
      <button class="btn btn-primary" [disabled]="!isStreaming()" (click)="stopStreaming()">Stop streaming</button>
    </div>
  </div>
</div>